body {
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  width: 550px;
}

.hero {
  background: #6943ff;
  color: #ffffff;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#input-el {
  background: #6943ff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bolder;
  font-size: 3.75rem;
  text-align: center;
  min-width: 117px;
  padding: 5px 10px;
  field-sizing: content;

}

#input-el:focus {
  outline: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 117px;
  height: 42px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  color: #3d3d3d;
}

.btn:hover {
  background: whitesmoke;
  cursor: pointer;
}

.data {
  background: #1f2937;
  padding: 25px;
}

.card {
  color: #ccc1ff;
  background: #273549;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto 15px;
  padding: 15px;
  border-radius: 5px;
}

.card:last-child {
  margin-bottom: 0;
}

span {
  color: #ffffff;
  font-size: medium;
  box-sizing: border-box;
}